@page "/game"
@inject NavigationManager Navigation
@inject GuessWhoOnePiece.Model.CsvManager.IFileServiceReader FileServiceReader
@inject GuessWhoOnePiece.Services.CurrentCharacterService CurrentCharacterService

<div class="game-page">
    <div class="top-bar-menu">
        <div class="text-entry">
            <TextEntry WithAutoComplete="true" Items="_gameViewModel.CharacterNameList" OnItemSelected="OnCharacterClicked"/>
        </div>
    </div>

    <div class="list-header">
        <label class="header">Nom</label>
        <label class="header">Image</label>
        <label class="header">Âge</label>
        <label class="header">Fruit</label>
        <label class="header">Prime du démon</label>
        <label class="header">Statut</label>
        <label class="header">Rôle</label>
        <label class="header">Première apparition</label>
        <label class="header">Équipage</label>
    </div>

    <div class="list-answer">
        @if (_gameViewModel.AnswersList.Any())
        {
            @foreach (var character in _gameViewModel.AnswersList)
            {
                <div class="answer-character">
                    <CarouselAnswer Character="character"></CarouselAnswer>
                </div>
            }
        }
    </div>
</div>